@import "./constants.css";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

.App {
    display: grid;
    place-content: center;
    /* justify-content: center; */
    height: 100vh;
    /* width: 100vh; */
    background: var(--bg-color);
    font-family: "Sofia Sans", sans-serif;
    grid-template-columns: auto 220px;
}
button {
    background: var(--dark-tile);
    color: var(--light-tile);
    border: 0 none;
    padding: 10px 30px;
    margin: 10px 0;
    font-size: 1.1em;
}
@media screen and (max-device-width: 767px) and (orientation: portrait) {
    .App {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
    .App {
        margin-top: 5px;
        transform: scale(0.6);
    }
}
